# Global default
* text=auto

# Code files
*.asm    text
*.cc     text
*.cpp    text
*.h      text
*.hpp    text
*.inc    text

# Build systems & Solutions
*.sln    text eol=crlf
*.vcxproj text eol=crlf
*.filters text eol=crlf

# Binary files
*.lib    binary
